/*--------------------------------------
 * LAYOUT
---------------------------------------*/

.popup-box, .popup2 {
	display: none;
	background: white;
	padding: 1em;
}

.container {
	width: 90%;
	margin: 1em auto;
}